<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="workshop.akbolatss.tools.barrier">

    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <!-- The SYSTEM_ALERT_WINDOW permission is for Android versions 5.xx and lower only -->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="workshop.akbolatss.tools.barrier.BarrierApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoBar"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Activities -->

        <activity android:name="workshop.akbolatss.tools.barrier.ui.RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="workshop.akbolatss.tools.barrier.ui.lock_screen.ScreenLockListActivity" />

        <!-- Services -->
        <service
            android:name="workshop.akbolatss.tools.barrier.quick_tile.QuickTilesService"
            android:enabled="@bool/isQuickSettingEnabled"
            android:exported="true"
            android:icon="@drawable/ic_layers_unavailable_24dp"
            android:label="@string/quick_tile_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name="workshop.akbolatss.tools.barrier.accessibility.BarrierAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/barrier_accessibility_service" />
        </service>

        <!-- Receivers -->
        <receiver
            android:name="workshop.akbolatss.tools.barrier.accessibility.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="workshop.akbolatss.app.barrier.action.toggle" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
